@media (max-width: 768px) {
  .dn-md {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
  .col-md-4 {
    flex-basis: 50%;
  }
  .col-md-3 {
    flex-basis: 50%;
  }
  .col-md-8 {
    flex-basis: 100%;
  }
  .section-hero {
    background-size: cover;
  }
  .hero-img {
    bottom: -5rem;
  }
  .hero-img img {
    width: 85%;
  }
  .hero-headings {
    width: 95%;
    top: 50%;
  }
  .section-more-feature {
    padding: 20rem 0;
    background-size: cover;
  }
  .feature-imgs {
    margin-top: 12rem;
  }
  .feature-imgs2 {
    margin-bottom: 6rem;
  }
  footer {
    padding: 4rem 0;
    background-size: 130% 90%;
  }
  .row-footer {
    padding: 0 3rem;
  }
  /* responsive navbar */
  header.active .toggle-btn .line {
    background: #000000;
  }
  header nav ul li a {
    color: #000000;
    font-size: 1.9rem;
    font-weight: 700;
  }
  header.active nav ul li a {
    color: #000000;
  }
  nav ul {
    flex-direction: column;
  }
  menu {
    position: absolute;
    top: -2rem;
    right: -2rem;
    width: 30rem;
    padding: 3rem 2rem;
    background: linear-gradient(
      70deg,
      rgb(36, 77, 223, 0.5),
      rgb(30, 190, 231, 0.7)
    );
    backdrop-filter: blur(5rem);
    border-radius: 1rem;
    z-index: 99;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  menu.active {
    top: 5rem;
    right: 5rem;
    opacity: 1;
    visibility: visible;
  }
  .toggle-btn {
    cursor: pointer;
  }
  .toggle-btn .line {
    width: 3rem;
    height: 0.3rem;
    border-radius: 4rem;
    margin: 0.5rem;
    background: #fff;
    transition: 0.3s;
  }
  .toggle-btn.active .line.first {
    transform: translateY(0.8rem) rotate(45deg);
  }
  .toggle-btn.active .line.third {
    transform: translateY(-0.76rem) rotate(-45deg);
  }
  .toggle-btn .line.second {
    margin-left: auto;
  }
  .toggle-btn.active .line.second {
    width: 0;
  }

  .form-row {
    flex-direction: column;
    gap: 0;
  }
  .row-footer {
    gap: 1.5rem;
  }
}

@media (max-width: 568px) {
  html {
    font-size: 59%;
  }
  .col-md-8 {
    flex-basis: 100%;
  }
  .col-md-6 {
    flex-basis: 100%;
  }
  .col-md-4 {
    flex-basis: 100%;
  }
  .col-md-3 {
    flex-basis: 100%;
  }

  .brand-section,
  .contact-section,
  .section-feature,
  .meeting-container,
  .sec-meeting-container,
  .blog-section {
    padding: 2.5rem 0;
  }
  menu.active {
    top: 10rem;
    right: inherit;
    left: 50%;
    transform: translateX(-50%);
  }
}
